
<footer class="text-light">
  <div class="container px-4 px-md-0">
    <div class="row">
      <div class="col-12 col-md-6 pr-lg-5">
        <h6>CERC</h6>
        <p>
		Coletivo de Estudos sobre a Revolução Cubana
        </p>

        <h6 class="mt-4">Apoio</h6>
        <ul class="list-unstyled list-inline footer-logos">
          <li class="list-inline-item">
            <a href="http://politicasocial.ufes.br">
              <img class="hover-img" src="/assets/img/iag_logo.png" data-toggle="tooltip" height="42px" alt="PPGPS-LOGO"
                title="Programa de Pós-Graduação em Política Social - UFES">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://ufvjm.br">
              <img class="hover-img" src="/assets/img/prp_logo.png" data-toggle="tooltip" height="42px" alt="UFVJM"
                title="Universidade dos Vales do Jequitinhonha e Mucuri">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://sepla21.org">
              <img class="hover-img" src="/assets/img/usp_logo.png" data-toggle="tooltip" height="42px" alt="SEPLA"
                title="SEPLA">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md-3">
        <h6>Explore</h6>
        <ul class="list-unstyled">
          {% for item in site.data.navigation %}
          <li><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-8 col-md-3">
        <h6>Contato</h6>
        <p class="text-sm ">
          Coletivo de Estudos sobre a Revolução Cubana <br>
          UFVJM/UFES <br>
          Diamantina - MG / Vitória - ES <br>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid footer-line text-center">
    <small>
      &copy; 2019-{{ 'now' | date: '%Y' }} <a href="http://erc.grupo.pro.br">CERC</a> &bull;
      Powered by <a href="https://jekyllrb.com/">Jekyll</a> <br />
      Last build: {{ 'now' | date: '%d/%m/%Y %H:%M:%S' }}
      {% assign commit_sha = site.env.GITHUB_SHA | default: '' %}
      {% unless commit_sha == empty %}
      &bull; Commit:
      <a href="https://github.com/CERC/website/commit/{{ commit_sha}}">{{ commit_sha | slice: 0, 8 }}</a>
      <a href="https://github.com/CERC/website"><i class="fab fa-github"></i></a>
      {% endunless %}
    </small>
  </div>
</footer>
