---
layout: default
---

{% include header.html image="/assets/img/erc.png" title="CERC"
    subtitle="Coletivo de Estudos sobre a Revolução Cubana"
    boldtitle="true" %}

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="https://erc.grupo.pro.br">
          <div class="features-icons-item mx-auto">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-university m-auto"></i>
            </div>
            <h3>O Coletivo</h3>
            <p class="lead mb-3">Saiba mais sobre o CERC</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://escuela.sepla21.org">
          <div class="features-icons-item mx-auto">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-book-open m-auto"></i>
            </div>
            <h3>Extensão</h3>
            <p class="lead mb-0">Acesse ementas e plataformas dos cursos sobre Cuba que oferecemos</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="/blog">
          <div class="features-icons-item mx-auto mb-4 mb-lg-0">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-blog m-auto"></i>
            </div>
            <h3>Publicações</h3>
            <p class="lead mb-0">Acompanhe nossas publicações acessando o blog</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="hero text-white inner-shadow">
  <div class="container-fluid p-0">
    <div class="text-center">
      <h1 class="text-shadow w-600">Método materialista dialético</h1>
      <h4 class="text-shadow w-500">Abordagem integral a partir da luta de classes</h4>
      <a href="/surveys" class="btn btn-light">
        Saiba mais
      </a>
    </div>
  </div>
</section>

<section style="padding: 6rem 0; background: rgb(241, 242, 243);">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <h2 class="mb-4">Resumo do Projeto</h2>
        <p class="lead">
		Um Coletivo de Estudos, Pesquisa e mais sobre a Revolução Cubana.
        </p>
        <p class="lead">
		Cursos e publicações abertos e com busca da maior incidência.
        </p>
        <a href="/projeto" class="btn btn-outline-dark">Saiba mais</a>
      </div>
    </div>
  </div>
</section>

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('/assets/img/fidel.jpg'); background-size: cover; background-position: center center;">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Nossos Cursos e Produções</h2>
        <ul class="mb-0 pl-0 list-unstyled" style="font-size: 1.15rem;">
          <li><a href="http://escuela.sepla21.org" target="_blank">60anosRC</a> 60 anos da Revolução Cubana</li>
          <li><a href="http://escuela.sepla21.org" target="_blank">HisteConjunturaRC</a> Desafios históricos e conjuntura da Revolução Cubana
          </li>
        </ul>

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img"
        style="background-image: url('/assets/img/guerrilheira.jpg'); background-size: cover; background-position: center center;">
      </div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Nossos Objetivos</h2>
        <p class="lead mb-2">
		Entender a revolução cubana em movimento a partir de uma abordagem materialista e dialética.
          <ul class="pl-4 mb-0" style="font-size: 1.15rem;">
            <li>Compreender a reprodução social articulada em sua totalidade</li>
            <li>Apreender as determinações e contradições da Revolução Cubana no âmbito da luta de classes global</li>
            <li>Estudar a transição ao socialismo cubana como processo imerso na luta de classes</li>
            <li>Aprofundar o acompanhamento e conhecimento sobre a Revolução Cubana ao máximo no Brasil.</li>
            <li>Construir conhecimento vinculado às lutas locais a partir dos ensinamentos da transição em Cuba.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

<section style="background: rgb(241, 242, 243); padding: 5rem 0;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 col-lg-3">
        <img src="/assets/img/erc_logo.png" alt="" width="100%">
      </div>
      <div class="col-8 col-lg-9">
        <p class="lead mb-0">
          Projeto apoiado pelo Programa de Pós-graduação em Política Social da UFES.
        </p>
      </div>
    </div>
  </div>
</section>

{% include latest_posts.html %}
