---
layout: default
---

{% include header.html image=page.image title=page.title subtitle=page.subtitle %}
{% assign author = site.authors | where: 'username', page.author | first %}

<div class="container pt-3 pb-5 post-content">
  <div class="pb-5 d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <a href="/authors/{{ page.author }}">
        {% include profile_pic.html author=author size=50 %}
      </a>
      <span class="pl-3"><a class="post-author" href="/authors/{{ page.author }}">{{ author.display_name }}</a></span>
    </div>
    <div>
      <span class="small"><i class="far fa-calendar-alt"></i> {{ page.date | date_to_string}}</span>
    </div>
  </div>

  {{ content }}

  <div class="mt-4 py-5">

  </div>
</div>
